
DB_NAME="{YOUR_DB_NAME}"
DB_PORT="{YOUR_DB_PORT}"
DB_USER="{YOUR_DB_USER}"
DB_PASSWORD="{YOUR_DB_PASSWORD}"
DB_HOST="{YOUR_DB_HOST}"

BK_LOGIN_URL="{YOUR_BLUEKING_LOGIN_SERVICE_URL}"

BK_LOGIN_API_URL="{YOUR_BLUEKING_LOGIN_SERVICE_API_URL}"
BK_LOGIN_VERIFY_URI="/user/is_login/"
BK_LOGIN_USER_INFO_URI="/user/get_full_info/"
BK_TOKEN_COOKIE_NAME="bk_ticket"

BKPAAS_APP_SECRET="{YOUR_BKPAAS_APP_SECRET}"
CSRF_COOKIE_DOMAIN=".example.com"

BKREPO_ENDPOINT_URL="{YOUR_BKREPO_ENDPOINT_URL}"
BKREPO_USERNAME="{YOUR_BKREPO_USERNAME}"
BKREPO_PASSWORD="{YOUR_BKREPO_PASSWORD}"
BKREPO_PROJECT="{YOUR_BKREPO_PROJECT}"
BKREPO_BUCKET="{YOUR_BKREPO_BUCKET}"

LOG_LEVEL="DEBUG"

BK_ESB_BASE_URL="{YOUR_BLUEKING_ESB_SERVICE_URL}"
FORCE_SILENCE=1

# 解决http和 https 冲突问题
BASE_URL="{YOUR_BASE_URL}"